body{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#calculatorContainer{
    display: flex;
    align-self: center;
    flex-direction: column;
    border-style: solid;
    width: 400px;
    height: 700px;
    border-radius: 8px;
    background-color: rgb(116, 116, 116);
    padding: 16px;
}

#displayScreen{
    width: 390px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    margin: 5px 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

#rowOneButton{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

#rowTwoButton{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

#rowThreeButton{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

#rowFourButton{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

#rowFiveButton{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

.buttonThreePer{
    width: 120px;
    height: 90px;
    border-radius: 8px;
}

.buttonFourPer{
    width: 90px;
    height: 90px;
    border-radius: 8px;
}

button{
    background-color: rgb(143, 142, 80);
    font-weight: 800;
}

#computed{
    font-size: 50px;
    
}

#liveInputs{
    font-size: 50px;
}